*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#D3E9FF;
    font-family:"Gowun Dodum", sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.page{
    position:relative;
    width:1280px;
    height:720px;
}

h1{
    position:absolute;
    top:90px;
    left:50%;
    transform:translateX(-50%);
    font-size:35px;
    font-weight:300;
    color:#6B89A8;
}

p{
    position:absolute;
    top:140px;
    left:50%;
    transform:translateX(-50%);
    font-size:92px;
    font-weight:800;
    color:#6B89A8;
}

.nametag{
    position:absolute;
    top:360px;
    left:50%;
    transform:translateX(-50%);
    width:550px;
    height:280px;
    background:white;
    border-radius:30px;
}

.nametag_shadow{
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    height: 250px;
    background: #C0D6EE;
    border-radius: 30px;
}

.nametag_circle{
    position:absolute;
    top:30px;
    left:30px;
    width:30px;
    height:30px;
    background: #D3E9FF;
    border-radius:50%;
}

.nametag_text{
    position:absolute;
    top:90px;
    left:13px;
    font-size:65px;
    font-weight:600;
    color:#6B89A8;
}

.nametag_square{
    position:absolute;
    top: 140px;;
    left:50%;
    transform:translateX(-50%);
    width:300px;
    height:40px;
    background:#D3E9FF;
}